<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <meta charset="utf-8">
    <title>FIrst App</title>
    <link rel="stylesheet" href="{% static "py_finance_website/bootstrap/css/bootstrap.min.css" %}" />
    {% load customFilters %}
</head>
<body>
    <h1>Hello this is index.html</h1>
    <div class="container">
        <form class="form-inline" method="post">
            {{ stockSymbolEntryForm }}
            {% csrf_token %}
            <input type="submit" class="btn btn-primary" name="stockSymbolSubmit" value="Submit">
        </form>
        <div class="row">
            {% if stockHistory %}
                <div class="col-md-6">
                    Stock History!
                </div>
                <div class="col-md-6">
                    {{ stockHistory|getLastTradingDayHigh }}
                </div>
            {% endif %}
        </div>
    </div>

    <script src="{% static "py_finance_website/jquery/jquery-3.2.1.min.js" %}"></script>
    <script src="{% static "py_finance_website/bootstrap/js/bootstrap.min.js" %}"></script>
</body>
</html>
