{% extends "stockViewer/base.html" %}
{% block body_block %}
{% load staticfiles %}
{% load customFilters %}
<div class="container">
    <h1>Hello this is index.html</h1>
    <div class="container">
        <form class="form-inline" method="post">
            {{ stockSymbolEntryForm }}
            {% csrf_token %}
            <input type="submit" class="btn btn-primary" name="stockSymbolSubmit" value="Submit">
        </form>
        <div class="row">
            {% if tradingDays %}
                <div class="col-md-6">
                    Stock History!
                </div>
                <div class="col-md-6">
                    {{ tradingDays|index:"4"|keyValue:"High" }}
                </div>
            {% endif %}
        </div>
    </div>
    <script src="{% static "py_finance_website/jquery/jquery-3.2.1.min.js" %}"></script>
    <script src="{% static "py_finance_website/bootstrap/js/bootstrap.min.js" %}"></script>
    {% if tradingDays %}
    <script>
        var my_dummy = {{ dummy }};
        var my_var_esc = '{{ dumJson|escapejs }}';
        var my_var_parsed = jQuery.parseJSON(my_var_esc);
    </script>
    {% endif %}
</div>
{% endblock %}
